/**/
* {
    margin: 0px;
    padding: 0px;
}

body {

    font-family: 'Roboto Condensed', sans-serif;
    /*escolha de fonte*/
}

.cabecalho {
    width: auto;/*largura*/
    height: 20%;/*altura*/
    background-color: blueviolet;
}

.conteudo {

    display: flex;
    /*Cria a flex box*/
    flex-direction: row;
    /*alinha os elementos em linha*/
    /*alinha as tags filhas ao centro*/
    justify-content: space-around;
    /*acrescenta um espaço entre as boxes*/
    color: blue;
    /*cor do texto*/
    background-color: antiquewhite;
    /*cor de fund*/
    width: auto;
    /*tamanho*/
    text-align: justify;
    /*justifica o texto*/
    padding: 20px;
    /*coloca um espaço interno em cada elemento*/
}
.imagem1{

width: 35%;

}
.rodape {
    width: auto;
    height: 20%;
    background-color: rgb(230, 40, 182);

}